//Theme
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import './responsive.scss';
//Screens and components
@import './sections/title-screen.scss';
@import './sections/word-works.scss';
@import './sections/easy-implement.scss';
@import './sections/service-provider.scss';
@import './sections/pay-for-use.scss';
//Animations
@import './animations/gradient.scss';
@import './animations/bounce.scss';
@import './animations/floating.scss';

html {
  overflow-x: hidden;
}
.home {
  .info {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #dfe6e9;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: #191847;
    @include mobile {
      display: flex;
    }
  }
  .content {
    display: block;
    @include mobile {
      display: none;
    }
  }
}
